name: Build EXE

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.6"

    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pyinstaller pandas requests matplotlib openpyxl

    - name: Build EXE
      run: |
        pyinstaller --onefile --noconsole main_app.py

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: Final-Windows-App
        path: dist/main_app.exe
